$color-primary: #fcf7ff;
$color-secondary: #222;
$color-accent: #482e7e;

$color-white: #fff;
$color-purple: #9b89b4;
$color-yellow: #fffade;

$color-grey-1: #555;
$color-grey-2: #999;
$color-grey-3: #eee;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
