.composition-section {
  padding: 7rem 10vw 7rem 10vw;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba($color-primary, 0.3),
      rgba($color-primary, 0.3)
    ),
    url('/images/bg-light.png');
}

.school-section {
  display: flex;
}
