.navigation {
  position: fixed;
  z-index: 3;
  background: $color-primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  box-shadow: 0 1rem 2rem rgba($color-purple, 0.1);
  align-items: center;

  .nav-items {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500;
      color: $color-secondary;
    }
  }

  .logo {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20rem;
    }
  }
}
